<div id="header-wrapper">
	<header id="header" class="container">
		<div class="row 0%">
			<!-- Logo -->
			<div class="3u 12u(small)">
				<div id="logo">
					<a href="/"><img src="/images/logo_n_300.png" alt="Поролоныч - всё для обивки и утепления"/></a>
				</div>
			</div>
			<!-- Contacts -->
			<div class="9u 12u(small)">
				<div id="header-contacts">
					<ul class="default">
						<li><a href="tel:+7(499)408-00-24"><i class="icon fa fa-phone"></i>+7 (499) <span>408-00-24</span></a></li>
						<li><a href="tel:+7(926)136-96-23"><i class="icon fa fa-phone"></i>+7 (926) <span>136-96-23</span></a></li>
					</ul>
					<ul class="default">
						<li><i class="icon fa fa-clock-o"></i> 9:00-19:00 Без выходных</li>
						<li><a href="mailto:info@porolonych.ru"><i class="icon fa fa-envelope-o"></i> info@<span>porolonych.ru</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	{% include nav.html %}
</div>