<nav id="nav">
	<a href="/" class="logo">Поролоныч</a>
	<ul class="links">
		<li {%if page.url == '/catalog/'%} class="current"{% endif %}><a href="/catalog/">Каталог</a></li>
		<li class="sub-cat {% if page.url contains '/porolon/' %}current{% endif %}"><a href="/catalog/porolon/">Поролон</a></li>
		<li class="sub-cat {% if page.url contains '/iskusstvennaya-kozha/' %}current{% endif %}"><a href="/catalog/iskusstvennaya-kozha/">Искусственная кожа</a></li>
		<li class="sub-cat {% if page.url contains '/voylok/' %}current{% endif %}"><a href="/catalog/voylok/">Войлок</a></li>
		<li class="sub-cat {% if page.url contains '/napolniteli-dlya-myagkoj-mebeli/' %}current{% endif %}"><a href="/catalog/napolniteli-dlya-myagkoj-mebeli/">Наполнители для мягкой мебели. Ткани</a></li>
		<li class="sub-cat {% if page.url contains '/mebelnye-gvozdi/' %}current{% endif %}"><a href="/catalog/mebelnye-gvozdi/">Мебельные гвозди</a></li>
		<li class="sub-cat {% if page.url contains '/utepliteli/' %}current{% endif %}"><a href="/catalog/utepliteli/">Утеплители</a></li>
		<li class="sub-cat {% if page.url contains '/furnitura-dlya-obivki-klej/' %}current{% endif %}"><a href="/catalog/furnitura-dlya-obivki-klej/">Фурнитура для обивки. Клей</a></li>
		<li class="gap{%if page.url contains '/price-list' %} current{% endif %}"><a href="/price-list/">Прайс-лист</a></li>
		<li class="{%if page.url contains '/blog/' %} current{% endif %}"><a href="/blog/">Блог</a></li>
		<li class="{%if page.url contains '/dostavka-i-oplata' %} current{% endif %}"><a href="/dostavka-i-oplata/">Доставка и оплата</a></li>
		<li class="{%if page.url contains '/contact' %} current{% endif %}"><a href="/contact/">Контакты</a></li>
	</ul>
	<a class="phone" href="tel:+74994080024">
		<svg height="1em" viewBox="0 0 24 24" class="icon" xmlns="http://www.w3.org/2000/svg">
			<path fill="none" d="M0 0h24v24H0V0z"/><path d="M19.23 15.26l-2.54-.29c-.61-.07-1.21.14-1.64.57l-1.84 1.84c-2.83-1.44-5.15-3.75-6.59-6.59l1.85-1.85c.43-.43.64-1.03.57-1.64l-.29-2.52c-.12-1.01-.97-1.77-1.99-1.77H5.03c-1.13 0-2.07.94-2 2.07.53 8.54 7.36 15.36 15.89 15.89 1.13.07 2.07-.87 2.07-2v-1.73c.01-1.01-.75-1.86-1.76-1.98z"/>
		</svg>
		+7&nbsp;(499)&nbsp;408-00-24
	</a>
	<a href="#" class="close">
		<svg height="2.5em" viewBox="0 0 32 32" class="icon" xmlns="http://www.w3.org/2000/svg">
			<path style="fill: currentColor;" d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"/>
		</svg>
	</a>
</nav>
