<!DOCTYPE html>
<html lang="ru">
	{%-include head.html -%}
	<body class="is-loading">
		<!-- Header -->
		{%-include header.html -%}
		<!-- Nav -->
		{%-include nav.html -%}
		{%-include cart.html -%}
		{%-assign all_products = site.catalog | where: "type", "product"-%}
		{%-assign url_list = page.url | split: '/'-%}
		{%-assign category_name = url_list | last-%}
		{%-assign current_category_products = all_products | where_exp: "item", "item.url contains category_name"-%}
		{%-assign add_products = site.catalog | where: "add_category", category_name-%}
		{%-assign current_category_products = current_category_products | concat: add_products-%}
		{%-assign current_category_products = current_category_products | sort: "weight"-%}
		<!-- Main -->
		<div id="wrapper">
			<article>
				<div class="container">
					{%-include breadcrumbs.html -%}
					<header class="main-header">
						<h1>{{page.page_title}} <sup>({{current_category_products|size}})</sup></h1>
					</header>
					<section class="items">
						{%-for product in current_category_products-%}
						<div class="item">
							<header>
								<a href="{{product.url}}">
									{%-assign test_path = "/images" | append: product.url | append: "-01_400w.jpg"-%}
									{%-assign file_obj = site.static_files | where: "path", test_path | first-%}
									{%-if file_obj-%}
										{%-assign img_path = "/images" | append: product.url-%}
									{%-else-%}
										{%-assign img_path = "/images/catalog/placeholder"-%}
									{%-endif-%}
									<img class="image fit" {%-if forloop.index > 2-%}loading="lazy"{%-endif-%} src="{{img_path}}-01_400w.jpg" alt="{{product.product_title}}-фото-1" title="{{product.product_title}}-фото-1"
									srcset="{{img_path}}-01_1600w.jpg 1600w, {{img_path}}-01_1400w.jpg 1400w, {{img_path}}-01_1000w.jpg 1000w, {{img_path}}-01_800w.jpg 800w, {{img_path}}-01_600w.jpg 600w, {{img_path}}-01_400w.jpg 400w"
									sizes="(max-width: 340px) 100vw, (max-width: 510px) 50vw, (max-width: 1080px) 33vw, 20vw"/>
									<h2>{{product.product_title}}</h2>
								</a>
								<p>{{product.product_short_desc}}</p>
							</header>
							<footer>
								{%-if product.param_name-%}
								<p>{{product.param_name}}: </p>
								<div class="select-wrapper">
									<select class="price-select" data-product-url="{{product.url}}">
										{%-for prod in product.products-%}
										<option value={{prod.price}}>{{prod.param}} {{product.param_mes}}</option>
										{%-endfor-%}
									</select>
								</div>
								{%-endif-%}
								<h3>Цена: <span class="price_span" data-product-url="{{product.url}}">{{product.products[0].price}}</span> &#8381;/{{product.price_after}}</h3>
								<a href="{{product.url}}" class="button fit special">Купить</a>
							</footer>
						</div>
						{%-endfor-%}
					</section>
					<hr />
					<section>
						{{content}}
					</section>
					<a id='backtotop' href="#">Наверх</a>
				</div>
			</article>
		</div>
		<!-- Footer -->
		{%-include footer.html -%}
		<!-- Scripts -->
		{%-include scripts.html -%}
	</body>
</html>