<!DOCTYPE HTML>

<html>
	<head>
		{% include head.html %}
		{% seo %}
	</head>
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
			{% include header.html %}	

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="3u 12u$(small)">
								{% include sidebar.html %}
							</div>
							<div class="9u 12u$(small)">
								<div id="content">

									<!-- Content -->
										{% include crumbs.html %}
										<article>
											<h2>{{ page.cat_title }}</h2>
											<hr>
											<div class="row 50%">
											{% for product in site.catalog %}
												{% if product.type != "category" and product.url contains page.url%}
													<div class="3u 4u(large) 6u(medium)">
														<div class="box feature">
															<a class="image feature" href={{ product.url }}><img src="{{ product.prod_image }}"/></a>
															<div class="inner">
																<header>
																	<a href={{ product.url }}>{{ product.prod_title }}</a>
																	{% if product.price %}
																	<h4>{{ product.price }}
																	{% endif %}
																</header>
																<p>{{ product.prod_short_desc }}</p>
															</div>
														</div>
													</div>
												{% endif %}
											{% endfor %}
											
											</div>
											<div class="row 50%">
												{{ content }}
											</div>
										</article>

								</div>
							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
			{% include footer.html %}