<!DOCTYPE html>
<html lang="ru">
	{% include head.html %}
	<body class="is-loading">
		<!-- Header -->
		{% include header.html %}
		<!-- Nav -->
		{% include nav.html %}
		{% include cart.html %}
		<!-- Main -->
		<div id="wrapper">
			<article>
				<div class="container">
					{% include breadcrumbs.html %}
					<header class="main-header">
						<h1>{{page.page_title}}</h1>
					</header>
					{{content}}
					<a id='backtotop' href="#">Наверх</a>
				</div>
			</article>
		</div>
		<!-- Footer -->
		{% include footer.html %}
		<!-- Scripts -->
		{% include scripts.html %}
	</body>
</html>