<!DOCTYPE HTML>

<html>
	<head>
		{% include head.html %}
		{% seo %}
	</head>
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
			{% include header.html %}	

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="3u 12u$(small)">
								{% include sidebar.html %}
							</div>
							<div class="9u 12u$(small)">
								<div id="content">

									<!-- Content -->
										{% include crumbs.html %}
										<article>

											<h2>{{ page.prod_title }}</h2>
											<div class="row">
												<div class="4u 12u(small)">
													<img class="image fit" src="{{ page.prod_image }}"/>
												</div>
												<div class="8u 12u(small)">
													<p>{{page.prod_full_desc }}</p>
													<footer>
														<a href="#inline-form" class="button fancybox">Заказать</a>
													</footer>
													
													<div style="display:none">
														<div id="inline-form">
															<form action="#" class="ajax-form">
																<input required data-msg="Please fill this field" type="text" class="name" name="name" placeholder="Your name">
																<input type="text" class="email" name="email" placeholder="Your email address">
																<textarea name="message" class="message" placeholder="Enter your message"></textarea>
																<div class="form-btn">
																	<input type="submit" class="submit" value="Submit">
																</div>
															</form>
															<div class="form-thank-you">
																 <h3>Thank you for contacting me!</h3>
																 <p>I'll be in touch with you shortly</p>
															</div>  
														</div>
													</div>
												</div>
											</div>
											<div class="row 0%">
												<h3>Варианты товара:</h3>
												<div class="table-wrapper">
												{{ content }}
												</div>
											</div>
											<div class="row 0%">
												<div class="8u 12u(small)">
													{% if page.add_images != nil %}
														<h3>Дополнительные фото:</h3>
														<div class="row 0%">
															{% for image in page.add_images %}
																<div class="3u 4u(small)">
																	<a class="image fit" href="#"><img src={{ image.image_path }}/></a>
																</div>
															{% endfor %}
														</div>
													{% endif %}
													{% if page.chars != nil %}
														<h3>Характеристики товара:</h3>
														<ul class="default">
															{% for char in page.chars %}
																<li>{{ char }}</li>
															{% endfor %}
														</ul>
													{% endif %}
												</div>
											</div>
										</article>

								</div>
							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
			{% include footer.html %}