<!DOCTYPE html>
<html lang="ru">
	{%-include head.html -%}
	<body class="is-loading">
		<!-- Header -->
		{%-include header.html -%}
		<!-- Nav -->
		{%-include nav.html -%}
		<!-- Cart -->
		{%-include cart.html -%}
		<!-- Main -->
		{%-assign img_array = "" | split:","-%}
		{%-assign url_list = page.url | split: "/"-%}
		{%-assign product_name = url_list | last-%}
		{%-for file in site.static_files-%}
			{%-assign path_list = file.path | split: "/"-%}
			{%-assign path_name = path_list | last-%}
			{%-assign path_length = path_name.size | minus: 7-%}
			{%-assign path_name = path_name | slice: 0, path_length-%}
			{%-if path_name == product_name-%}
				{%-assign img_array = img_array | push: file.path-%}
			{%-endif-%}
		{%-endfor-%}
		<div id="wrapper">
			<article>
				<div class="container">
					{%-include breadcrumbs.html -%}
					<section>
						<header class="main-header">
							{%-assign rating_array = "4.7,4.8,4.9" | split:"," -%}
							{%-assign count_array = "12,18,6,8,11,16" | split:"," -%}
							<script type="application/ld+json">
							{
								"@context": "http://schema.org/",
								"@type": "Product",
								"name": "{{page.product_title | remove: '"'}}",
								"image": "https://porolonych.ru/images/catalog{{page.url}}-01_1600w.jpg",
								"description": "{{page.product_full_desc}}",
								"aggregateRating": {
								"@type": "AggregateRating",
								"ratingValue": "{{rating_array | sample}}",
								"reviewCount": "{{count_array | sample}}"
								},
								"offers": {
								"@type": "Offer",
								"priceCurrency": "RUB",
								"price": "{{page.products[0].price}}",
								"priceValidUntil": "2021-11-05",
								"availability": "http://schema.org/InStock",
								"seller": {
									"@type": "Organization",
									"name": "Porolonych"
								}
								}
							}
							</script>
							{%-if page.products-%}
							<script id="products_list" type="application/json">
							[
							{%-for product in page.products-%}
								{
								"id": "{{product.id}}",
								"title": "{{page.product_title | replace: '"', '\"'}}{%if page.param_name%} - {{product.param}} {{page.param_mes}}{%-endif-%}",
								"price": {{product.price}},
								"url": "{{page.url}}"
								}{%-if forloop.last != true-%},{%-endif-%}
							{%-endfor-%}
							]
							</script>
							{%-endif-%}
							<h1>{{page.product_title}}</h1>
						</header>
						<div class="product">
							{%-assign test_path = "/images" | append: page.url | append: "-01_400w.jpg"-%}
							{%-assign file_obj = site.static_files | where: "path", test_path | first-%}
							{%-if file_obj-%}
								{%-assign img_path = "/images" | append: page.url-%}
							{%-else-%}
								{%-assign img_path = "/images/catalog/placeholder"-%}
							{%-endif-%}
							<img class="image fit" src="{{img_path}}-01_1600w.jpg" alt="{{page.product_title}}-фото-1" title="{{page.product_title}}-фото-1"
							srcset="{{img_path}}-01_1600w.jpg 1600w, {{img_path}}-01_1400w.jpg 1400w, {{img_path}}-01_1000w.jpg 1000w, {{img_path}}-01_800w.jpg 800w, {{img_path}}-01_600w.jpg 600w, {{img_path}}-01_400w.jpg 400w"
							sizes="(max-width: 480px) 100vw, (max-width: 980px) 33vw, 25vw"/>
							<div>
								<p>{{page.product_full_desc}}</p>
								{%-if page.properties-%}
								<ul>
									{%-for prop in page.properties-%}
									<li><b>{{prop.name}}:</b> {{prop.value}}</li>
									{%-endfor-%}
								</ul>
								{%-endif-%}
								{%-if page.param_name-%}
								<div class="param">
									<p>{{page.param_name}}:</p>
									<div class="select-wrapper">
										<select id="param_select">
											{%-for product in page.products-%}
											<option value={{product.id}}>{{product.param}} {{page.param_mes}}</option>
											{%-endfor-%}
										</select>
									</div>
								</div>
								{%-endif-%}
								<h2>Цена: <span id="price">{{page.products[0].price}}</span> &#8381;/{{page.price_after}}</h2>
								<ul class="actions">
									<li>
										<a href="#" class="button special big add-to-cart">В корзину</a>
									</li>
								</ul>
							</div>
						</div>
					</section>
					<hr/>
					<div class="product_add_info">
						{%-if page.products.size > 1-%}
						<section>
							<header>
								<h2>Варианты товара:</h2>
							</header>
							<div class="table-wrapper">
								<table class="alt">
									<thead>
										<tr>
											<th>{{page.param_name}}, {{page.param_mes}}</th>
											<th>Цена, руб.</th>
										</tr>
									</thead>
									<tbody>
										{%-for prod in page.products-%}
										<tr>
											<td>{{prod.param}}</td>
											<td>{{prod.price}}</td>
										</tr>
										{%-endfor-%}
									</tbody>
								</table>
								{%-if page.url contains 'porolon'-%}<p>Для оптовых покупателей действуют специальные цены. <a class="accent" href="/price-list/#{{product_name}}">Подробнее</a></p>{%-endif-%}
							</div>
						</section>
						{%-endif-%}
						{%-if content.size > 4-%}
						<section>
							<header>
								<h2>Варианты товара:</h2>
							</header>
							{{content}}
						</section>
						{%-endif-%}
						{%-if img_array.size > 1 -%}
						<section>
							<header>
								<h2>Фотографии:</h2>
							</header>
							<div class="product_add_info">
								{%-for img in img_array-%}
								{%-unless img contains "01"-%}
								<img class="image fit" loading="lazy" src="{{img}}" alt='{{page.product_title | escape}}-фото-{{forloop.index}}' title='{{page.product_title | escape}}-фото-{{forloop.index}}'
								srcset="{{img | remove: '.jpg'}}_1600w.jpg 1600w, {{img | remove: '.jpg'}}_1400w.jpg 1400w, {{img | remove: '.jpg'}}_1000w.jpg 1000w, {{img | remove: '.jpg'}}_800w.jpg 800w, {{img | remove: '.jpg'}}_600w.jpg 600w, {{img | remove: '.jpg'}}_400w.jpg 400w"
								sizes="(max-width: 780px) 100vw, 20vw"/>
								{%-endunless-%}
								{%-endfor-%}
							</div>
						</section>
						{%-endif -%}
						<section>
							<div id="how-to-buy">
								<header>
									<h2>Как купить товар:</h2>
								</header>
								<ol>
									<li>
										<p><b>Добавьте</b> интересующий товар в корзину и оформите заказ.
										</br>Также, оформить заказ и получить <b>консультацию</b> можно позвонив нам по телефону 
										<a class="accent" href="tel:+74994080024">+7&nbsp;(499)&nbsp;408-00-24</a> или отправив запрос на e-mail <a class="accent" href="mailto:info@porolonych.ru">info@porolonych.ru</a>.</p>
									</li>
									<li>
										<p><b>Самовывоз</b> только по предварительной договоренности. Перед приездом пожалуйста уточните наличие товара в магазинe.</p>
										<p><a class="accent" href="/contact/">Неманский пр-д, д. 18c3</a> м.&nbsp;Строгино</p>
										<p><a class="accent" href="tel:+79261369623">+7&nbsp;(926)&nbsp;136-96-23</a></p>
									</li>
									<li>
										<p><b>Доставка</b> ежедневно. <a class="accent" href="/dostavka-i-oplata/">Подробнее о доставке</a></p>
									</li>
								</ol>
							</div>
						</section>
					</div>
					{%-if page.related -%}
					<hr class="major"/>
					<h2>Смотрите также:</h2>
					<section id="related" class="items">
						{%-for related_product in page.related-%}
						{%-for product in site.catalog-%}
						{%-assign rel_url_list = product.url | split: "/"-%}
						{%-assign rel_url = rel_url_list | last-%}
						{%-if rel_url == related_product-%}
						<div class="item">
							<header>
								<a href="{{product.url}}">
									{%-assign test_path = "/images" | append: product.url | append: "-01_400w.jpg"-%}
									{%-assign file_obj = site.static_files | where: "path", test_path | first-%}
									{%-if file_obj-%}
										{%-assign img_path = "/images" | append: product.url-%}
									{%-else-%}
										{%-assign img_path = "/images/catalog/placeholder"-%}
									{%-endif-%}
									<img class="image fit" loading="lazy" src="{{img_path}}-01_400w.jpg" alt="{{product.product_title}}-фото-1" title="{{product.product_title}}-фото-1"
									srcset="{{img_path}}-01_1600w.jpg 1600w, {{img_path}}-01_1400w.jpg 1400w, {{img_path}}-01_1000w.jpg 1000w, {{img_path}}-01_800w.jpg 800w, {{img_path}}-01_600w.jpg 600w, {{img_path}}-01_400w.jpg 400w"
									sizes="(max-width: 340px) 100vw, (max-width: 510px) 50vw, (max-width: 1080px) 33vw, 20vw"/>
									<h2>{{product.product_title}}</h2>
								</a>
								<p>{{product.product_short_desc}}</p>
							</header>
						</div>
						{%-endif-%}
						{%-endfor-%}
						{%-endfor-%}
					</section>
					{%-endif -%}
					<a id='backtotop' href="#">Наверх</a>
				</div>
			</article>
		</div>
		<!-- Footer -->
		{%-include footer.html -%}
		<!-- Scripts -->
		{%-include scripts.html -%}
	</body>
</html>